<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.parkland.stockopname.splash_activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.parkland.stockopname.splash_activity_fg" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.parkland.stockopname.FG_MainActivity_Offline" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.FG_MainActivity_Sampling" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.FG_MainActivity_Online" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>


        <activity android:name="com.parkland.stockopname.FG_ScanActivity_Offline" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.FG_ScanActivity_Sampling" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.FG_ScanActivity_Online" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.parkland.stockopname.FG_StatActivity_Offline" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.parkland.stockopname.MAT_MainActivity" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.MAT_ScanActivity" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.MAT_StatActivity" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.parkland.stockopname.BTM_MainActivity" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.BTM_ScanActivity" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.parkland.stockopname.splash_activity_pcard" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.parkland.stockopname.PCARD_MainActivity_Offline" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.PCARD_ScanActivity_Offline" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.PCARD_StatActivity_Offline" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.parkland.stockopname.PCARD_DC2_MainActivity_Offline" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.PCARD_DC2_ScanActivity_Offline" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.parkland.stockopname.PCARD_DC2_StatActivity_Offline" android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>